body{
    font: 20px, Arial, sans-serif;
}

.ul{
    color: white;
}

.texto{
    color: white;
}


.navbar{
    background-color: #009b00;
    color: white;
}

.quem-somos{
    background-color: black;
    color: white;
}

.margin{
    padding-bottom: 40px;
}

.parceiros{
    padding-top: 10px;
    background-color: wheat;
}

.servicos{
    padding-top: 10px;
}

.bg-footer{
    background-color: black;
    color: white;
    height: 140px;
    padding-top: 10px;
}